<body>
   
  <br>
  <br>
<div class="container">

 

  <div class="First">

    <h1>how to install ionic</h1>
<h3>The first step before installing ionic is to install Node.js because ionic will be managed through npm, <br>
     After downloading and installing Node.js go to your command line and :   </h3>
  </div>

<ul>
  <li><h3>type this command:</h3> 
  <p class="inst" >npm install -g ionic cordova</p>  
  </li>
<img src="../../assets/2576d808ec2215abafdc3de0c50247155337fbaa.png" alt="">
  <li><h3>Then after you you have installed both ionic and cordova,create you first app:</h3>
  <p class="inst">ionic start helloWorld blank </p>
  </li>
</ul>

<img src="../../assets/wu2a18jfyhr3t3jz7dxm.png" alt="">

</div>
</body>