
<body>
  <br>
  <br>



 <h1>Create your first Ionic app</h1>

<ul>
<li><h3>
    To run your app, cd into the directory that was created and then run the ionic serve command to test your app right in the browser:</h3>
<p class="inst">ionic start helloWorld blank</p>
</li>

<img src="../../assets/31975168-396fa0a8-b8e4-11e7-80aa-9802f105e8ab.png" alt="">

<li><h3>This link below shows you how to run you app on the browser</h3>
<p class = "inst">cd helloWorld $ ionic serve</p>
</li>

</ul>

<img src="../../assets/chrome-dev-tools.png" alt="">
</body>